{
	"meta": {
		"version": "0.3",
		"preference": 0,
		"urls": {
			"oauth_auth": "",
			"oauth_token": "",
			"posts_feed": "",
			"post": "",
			"new_post": "",
			"post_attachment": "",
			"attachment": "",
			"batch": "",
			"server_info": ""
		}
	},
	"auth": {
		"access_token": "",
		"hawk_key": "",
		"hawk_algorithm": "",
		"token_type": ""
	}
}